body {
    margin: 0;
    padding: 0;
    width: 620px;
    /* height: 100vh; */
    
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}
.image_wrapper {
    position: relative;
    overflow: hidden;
}
.image_wrapper > img {
    display: block;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
}
.image_wrapper > .content {
    position: absolute;
    inset: 0;
    font-size: 2rem;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: center;
    align-items: center ;
}
.image_wrapper > img,
.image_wrapper > .content {
    transition: 200ms ease-in-out;
}

.image_wrapper:hover > img.blur {
    filter: blur(5px );
}
.image_wrapper:hover > img.zoom {
    transform:scale(1.1) ;
}
.image_wrapper > .content.fade {
    opacity: 0;
}
.image_wrapper:hover > .content.fade {
    opacity: 1 ;
} 
/* left */
.image_wrapper > .content.slide_left {
   transform:translateX(-100%) ;
}
.image_wrapper:hover > .content.slide_left {
    transform:translateX(0%) ;
} 
/* right */
.image_wrapper > .content.slide_right {
    transform:translateX(100%) ;
 }
 .image_wrapper:hover > .content.slide_right {
     transform:translateX(0%) ;
 } 
 /* up */
 .image_wrapper > .content.slide_up {
    transform:translateY(-100%) ;
 }
 .image_wrapper:hover > .content.slide_up {
     transform:translateY(0%) ;
 } 
 /* down */
 .image_wrapper > .content.slide_bottom {
    transform:translateY(100%) ;
 }
 .image_wrapper:hover > .content.slide_bottom {
     transform:translateY(0%) ;
 } 